* {
    box-sizing: border-box
  }
  
  html, body,
  #cover{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family:  sans-serif;
    line-height: 1.6;
    color: black;
   

    height: 1000px;


   
  }
  
  #root {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    background-color: blueviolet;
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    color: white;
  }
  h3 {
    margin-bottom: 10%;
    text-align: center;
    font-family: 'Dosis', sans-serif;
  }
  
  img {
    display: block;
    margin: 1rem auto;
    border-radius: 12px;
    
  }
  
  p {
    padding: 0 2.5rem 2.5rem;
    margin: 0;
  }
  
 
  .card {
    margin: 1rem;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
   
  }
  
 
  
  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
   @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  } 
  
  .card:nth-child(2n) h1 {
    background-color: blueviolet;
  }
  
 tbody{
     text-align: center;
 }




.fixed-top{
  max-width: 1140px !important;
  margin:0 auto;
}


a.nav-link{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color:rgba(3, 53, 53, 0.925) !important;
  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
}

a.nav-link:hover{
  color:rgb(219, 95, 38) !important;
}


#name , #email , #subject{
  width: 90%;
  height: 30px;
  margin-bottom: 26px;
  border-style: none;
  border-radius: 3px;
  padding-left: 20px;
}

textarea {
  width: 90%;
  height: 130px;
  border-radius: 3px;
  padding-left: 20px;
  padding-top: 10px;
} 

#navbarSupportedContent{
  background-color:pink;

} 

/*footer*/
footer {
background-color: deeppink!important;
height: fit-content;
}

.pb-5, .py-5 {
  padding-bottom: 2rem!important;
}
.pb-5, .py-5 {
  padding-top: 2rem!important;
} 